<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.customer.ComContactsOut.mapper.ComContactsOutMapper">
    
    <resultMap type="ComContactsOut" id="ComContactsOutResult">
        <result property="id"    column="id"    />
        <result property="companyCode"    column="company_code"    />
        <result property="companyName"    column="company_name"    />
        <result property="userName"    column="user_name"    />
        <result property="phone"    column="phone"    />
        <result property="tel"    column="tel"    />
        <result property="email"    column="email"    />
        <result property="sex"    column="sex"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="extension"    column="extension"    />
    </resultMap>

    <sql id="selectComContactsOutVo">
        select id, company_code, company_name, user_name, phone, tel, email, sex, del_flag, create_by, create_time, update_by, update_time, remark, extension from com_contacts_out
    </sql>

    <select id="selectComContactsOutList" parameterType="ComContactsOut" resultMap="ComContactsOutResult">
        <include refid="selectComContactsOutVo"/>
        <where>  
            <if test="companyCode != null  and companyCode != ''"> and company_code = #{companyCode}</if>
            <if test="companyName != null  and companyName != ''"> and company_name like concat('%', #{companyName}, '%')</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="tel != null  and tel != ''"> and tel = #{tel}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
            <if test="extension != null  and extension != ''"> and extension = #{extension}</if>
        </where>
    </select>
    
    <select id="selectComContactsOutById" parameterType="Long" resultMap="ComContactsOutResult">
        <include refid="selectComContactsOutVo"/>
        where id = #{id}
    </select>

    <select id="selectComContactsOutByPhone" parameterType="String" resultMap="ComContactsOutResult">
        <include refid="selectComContactsOutVo"/>
        where phone = #{phone}
    </select>
        
    <insert id="insertComContactsOut" parameterType="ComContactsOut" useGeneratedKeys="true" keyProperty="id">
        insert into com_contacts_out
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyCode != null">company_code,</if>
            <if test="companyName != null">company_name,</if>
            <if test="userName != null">user_name,</if>
            <if test="phone != null">phone,</if>
            <if test="tel != null">tel,</if>
            <if test="email != null">email,</if>
            <if test="sex != null">sex,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="extension != null">extension,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyCode != null">#{companyCode},</if>
            <if test="companyName != null">#{companyName},</if>
            <if test="userName != null">#{userName},</if>
            <if test="phone != null">#{phone},</if>
            <if test="tel != null">#{tel},</if>
            <if test="email != null">#{email},</if>
            <if test="sex != null">#{sex},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="extension != null">#{extension},</if>
         </trim>
    </insert>

    <update id="updateComContactsOut" parameterType="ComContactsOut">
        update com_contacts_out
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyCode != null">company_code = #{companyCode},</if>
            <if test="companyName != null">company_name = #{companyName},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="tel != null">tel = #{tel},</if>
            <if test="email != null">email = #{email},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="extension != null">extension = #{extension},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteComContactsOutById" parameterType="Long">
        delete from com_contacts_out where id = #{id}
    </delete>

    <delete id="deleteComContactsOutByIds" parameterType="String">
        delete from com_contacts_out where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>